@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
   /* color: #f99442;*/

}

h1{
    color: #7a0fd8;
}


td, th {
    width: 70px;
}


.container {
    width: 550px;
}


.limpar {
    float: right;
}