@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}


h1{
    color: #7a0fd8;
}


#ficha{
    display: none;
}


td, th {
    background-color: #f4f4f4;
    width: 70px;
    padding: 3px;
}


td {
    padding: 3px 20px;
} 


.container {
    width: 550px;
}


.limpar {
    float: right;
}


.Inimigo {
    color: crimson;
}


.Aliado {
    color: #0dad72;
}